{{ $url := .Get 0 }}
{{ $getURL := printf "http://localhost:6060/getogp?%s" (querify "url" $url ) }}
{{ $json := getJSON $getURL }}

<a href="{{$json.url | safeHTMLAttr }}">
    <div class="card link-card">
        <div class="link-card__title">
            {{ $json.title }}
        </div>
        {{ with $json.description }}
        <div class="link-card__description">
            {{.}}
        </div>
        {{ end }}
        <div class="link-card__site_url">
            {{$url}}
        </div>
        {{ with $json.image }}
        <div class="link-card__eyecache">
            <img src="{{ .  | safeHTMLAttr }}" />
        </div>
        {{ end }}
    </div>
</a>

